/* Details Page Styles */

/* Section */
.details-section {
  opacity: 0;
  transform: translateX(100%);
}

/* Venue Title */
.venue-title {
  padding-top: 4rem;
  padding-bottom: 0.75rem;
}

.venue-title-text {
  line-height: 0.8;
  color: #800000;
}

/* Venue Image Container */
.venue-image-container {
  aspect-ratio: 1 / 1;
}

/* On screens 992px and above, venue content container should fit content height */
@media (min-width: 992px) {
  .venue-image-container.flex.flex-col {
    aspect-ratio: auto;
    height: fit-content;
  }
}

/* Program Section */
.program-section {
  padding: 2rem 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.program-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program-title-text {
  line-height: 0.8;
  color: #800000;
  display: block;
  text-align: center;
}

.program-description {
  width: 80%;
}

/* Date Selector */
.date-month-year {
  font-style: italic;
  color: #800000;
}

.heart-day-number {
  margin-bottom: 8px;
}

/* Timeline */
.timeline-container {
  padding: 1rem;
}

.timeline-event-time {
  color: #333333;
}

.timeline-event-description {
  color: #333333;
}

/* Dress Code */
.dress-code-title-text {
  line-height: 0.8;
  color: #800000;
  white-space: nowrap;
}

.dress-code-description {
  color: #171717;
}

.dress-code-image-container {
  max-width: 200px;
  width: 100%;
}

.dress-code-image {
  max-height: 300px;
}

.color-swatch {
  margin-top: -20px;
}

.color-swatch:first-child {
  margin-top: 0;
}

/* Gift Registry */
.gift-registry-section {
  background-image: url(/assets/images/graphics/bg-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 3rem 6rem 3rem;
}

.gift-registry-title-text {
  line-height: 0.8;
  color: #f5f5f0;
}

.gift-button {
  min-width: 200px;
}

.gift-button-border {
  margin: 4px;
}

/* Upload Section */
.upload-title {
  padding-top: 4rem;
  padding-bottom: 0.75rem;
}

.upload-title-text {
  line-height: 0.8;
  color: #800000;
}

.upload-qr-container {
  aspect-ratio: 1 / 1;
}

.upload-content-container {
  aspect-ratio: 1 / 1;
}

/* On screens 992px and above, upload content container should fit content height */
@media (min-width: 992px) {
  .upload-content-container {
    aspect-ratio: auto;
    height: fit-content;
  }
}

/* FAQ Section */
.faq-section {
  padding: 4rem 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-color: #800000;
}

.faq-title-text {
  line-height: 0.8;
  color: #f5f5f0;
}

/* Modal */
.modal-methods-title {
  font-weight: 900;
}

/* Back Button */
.back-button {
  pointer-events: auto;
}
